<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">

<body>
 <title>Predicting Red wine</title>
<p style="font-family:arial;">Enter the numeric values listed on your bottle.</p>
<form action="{{ url_for('predict')}}" method="POST">
uniformity cell size:<br>
<input type="number"id="fixed acidity" name="fixed acidity"><br>
uniformity cell shape:<br>
<input type="number"id="citric acid" name="citric acid"><br>
marginal adhesion:<br>
<input type="number"id="density" name="density"><br>
bland chromatin:<br>
<input type="number"id="pH" name="pH"><br>
normal nucleoli:<br>
<input type="number"id="quality" name="quality"><br>
<input type="submit">
</form>
Your prediction:{{predict}}
</body>
</html>
